name: comment-on-pull-request
on: pull_request
permissions: 
  pull-requests: write 
jobs:
  comment-on-pr:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Comment PR
        uses: thollander/actions-comment-pull-request@v2
        with:
          message: |
            This repository is for **practice only** and therefore it will not count towards hacktoberfest.
